@font-face {
    font-family: 'Gugi';
    src: url('fonts/Gugi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

#pong {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}